@import "variables";


// HTML ELEMENT PRESETS
html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color: #FFFFFF;
    height: 50rem;
    margin: 0 auto;
    max-width: 1600px;
    position: relative;
    padding: 0;

    &::after {
        content: "";
        background-color: $lg-blue;
        border-bottom-left-radius: 4rem;
        height: 26.75rem;
        position: absolute;
        top: 0;
        right: 0;
        width: 705px;
    }
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    padding: 4rem 165px;
    position: relative;
    z-index: 100;
}

footer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


// PRIMARY
.flex {
    display: flex;

    &--column {
        flex-direction: column;
    }

    // Justify
    &--j-between {
        justify-content: space-between;
    }

    &--j-center {
        justify-content: center;
    }
    // Align
    &--a-center {
        align-items: center;
    }
    // Custom

    &--nav-gap {
        gap: 0 2.625rem;
    }
}

.grid {
    display: grid;
}

#navbarToggle {
    display: none;
}

.navbarLabel {
    display: none;
}

.navlinks {
    color: $vd-blue;
    letter-spacing: 1px;
    position: relative;

    &::after {
        content: "";
        background-color: $vd-blue;
        bottom: -2%;
        left: 0;
        height: 2px;
        position: absolute;
        transition: width 0.3s ease;
        width: 0;
    }

    &:hover::after {
        width: 100%;
    }

    &:last-child {
        color: $g-blue;
        margin-left: 53px;

        &::before {
            content: "";
            background-color: $g-blue;
            border-radius: 50%;
            left: -47px;
            height: 7px;
            position: absolute;
            pointer-events: none;
            top: 50%;
            transform: translateY(-50%);
            width: 7px;
        }
    }
}

.hero {
    font-family: 'Barlow Condensed', sans-serif;
    grid-template-columns: minmax(300px, 500px) 650px;
    overflow: hidden;
    padding: 58px 0 0 165px;
    position: relative;
    z-index: 100;
}

.hero_image {
    position: absolute;
    top: 58px;
    right: -16.75rem;
    // position: relative;
    // right: -7.75rem;
    z-index: 100;
}

// CUSTOMS
.new {
    background-color: $vd-blue;
    border-radius: 1rem;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-right: 1rem;
    padding: 2px 0 5px;
    width: 48px;
}

.heading-1 {
    color: $vd-blue;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.heading-2 {
    color: $dg-blue;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 66px;
}

.heading-3 {
    color: $g-blue;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
}

.schedule {
    background-color: $red;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    height: 3rem;
    margin-right: 1.5rem;
    transition: background-color 0.3s ease,
                border-color 0.3s ease;
    width: 10.25rem;

    &:hover {
        background-color: hsl(0, 66%, 72%);;
        border-color: $red;
    }

    span {
        margin-left: 4px;
    }

    &:hover span {
        animation: pump 1s infinite;
    }
}

.preview {
    color: $g-blue;
    font-size: 15px;
    letter-spacing: 4px;
}

.left {
    padding: 38px 0;
}

// KEYFRAMES
@keyframes pump {
    50% {
        transform: scale(1.1);
    }
}


// MEDIAS

@media (max-width: 1180px) {
    body {
        height: auto;
    }

    .hero {
        grid-template-columns: minmax(300px, 500px) 600px;
        padding-bottom: 4rem;
    }

    .hero_image {
        right: -26.75rem;
    }
}

@media (max-width: 1000px) {
    // HTML ELEMENTS

    body {

        &::after {
            width: 50%;
        }
    }
    header {
        padding: 2.375rem 2rem;
        z-index: 120;

        &::after {
            display: block;
        }
    }

    // PRIMARY
    .navbar-logo img {
        height: 1.5rem;
        width: 1.5rem;
    }

    #navbarToggle:checked ~ .navbar {
        max-height: 600px;
    }

    .navbar {
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem;
        flex-direction: column;
        gap: 33px 0;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        top: 100%;
        transition: max-height 0.5s ease;
        width: calc(100% - 64px);
        z-index: 120;

        &::after {
            content: "";
            background-color: rgba(14, 14, 14, 0.1);
            bottom: 70px;
            height: 1px;
            position: absolute;
            width: calc(100% - 48px);
        }
    }

    .navlinks {

        &:first-child {
            margin-top: 28px;
        }

        &:last-child {
            margin: 25px 0 28px;

            &::before {
                all: revert;
            }
        }
    }

    .navbarLabel {
        cursor: pointer;
        display: block;
    }

    .hero {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        padding: 58px 2rem;
    }

    .left {
        align-items: center;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: center;

        br {
            display: none;
        }
    }

    .hero_image {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        position: static;
        width: 100%;
    }

    .heading-2 {
        margin-bottom: 2rem;
    }
    // CUSTOM
}

@media (max-width: 650px) {
    // HTML ELEMENTS
    body {

        &::after {
            height: 425px;
        }
    }

    // PRIMARY

    .hero {
        grid-template-rows: 240px auto;
        padding: 2rem;
    }

    .hero_image {
        position: absolute;
        right: -10.75rem;
        top: 0;
        // width: 481px;
        width: clamp(481px, 100%, 120%);
    }


    .left {
        align-items: flex-start;
        padding: 4rem 0 6rem;
        text-align: left;

        br {
            display: block;
        }
    }
    .heading-1 {
        font-size: 38px;
    }
}